* {
    margin: 0;
    transition: 0.5s;
    font-family: "微軟正黑體";
}

body {
    background-color: #DBD4D0;
}

.container{
    padding-left: 1%;
    padding-right: 15%;
    margin: 0 auto;
}

.nav_bar {
    width: 100%;
    z-index: 10;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    background-color: rgb(99, 99, 99);
    position: fixed;
    display: flex;
}

.logo {
    font-weight: bold;
    font-size: 14pt;
    color: white;
    padding-left: 5vw;
}

.img1 {
    width: 82%;
    margin-left: 14vw;
    margin-top: 20vh;
}

.article {
    margin-top: 10vh;
    margin-left: 13vw;
    text-align: justify;
}

.b_title {
    font-weight: bold;
    padding-left: 3.25vw;
    font-size: 16pt;
}

p {
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 8%;
    padding-right: 6%;
    letter-spacing: 0.3pt;
}

.img2 {
    width: 47.5%;
    margin-top: 2vh;
    margin-left: 1.5vw;
}

.img3 {
    width: 47.5%;
    height: 30%;
    margin-top: 2vh;
    margin-left: 1vw;
}

.img_group{
    display: flex;
    margin-top: 5vh;
}

.img4 {
    width: 95%;
    margin-left: 2vw;
    margin-top: 15vh;
}

.img5 {
    width: 46%;
    margin-top: 5vh;
    margin-left: 2vw;
}

.img_text {
    margin-left: 24vw;
    margin-top: 1vh;
}

.img_article {
    margin-left: 35vw;
    margin-top: -40vh;
    text-align: justify;
}

.img_p{
    padding-left: 9%;
    padding-right: 10%;
    letter-spacing: 2.5pt;
}

.b_hr {
    width: 67vw;
    margin-top: 15vh;
    margin-left: 2vw;
}

.img6 {
    width: 95%;
    margin-left: 2vw;
    margin-top: 15vh;
}

.article2 {
    margin-left: 2vw;
    margin-top: 10vh;
    text-align: justify;
}

.img7 {
    width: 46.5%;
    margin-left: 3vw;
    margin-top: 5vh;
}

.img8 {
    width: 46.5%;
    margin-top: 5vh;
}

.img_text2{
    margin-top: 1vh;
    margin-left: 58vw;
}

.img9 {
    width: 92%;
    margin-left: 4vw;
    margin-top: 15vh;
}

.img10 {
    width: 45%;
    margin-left: 5vw;
    margin-top: 5vh;
}

.img11 {
    width: 45%;
    margin-top: 5vh;
}

.footer {
    width: 100%;
    height: 10vh;
    text-align: center;
    background-color: rgb(99, 99, 99);
    padding-top: 50px;
}

.f_content {
    width: 35%;
    margin: 0 auto;
    color: white;
    font-size: 4pt;
    border: white solid 1px;
}
