* {
    margin: 0;
    transition: 0.5s;
    font-family: "微軟正黑體";
}

body {
    background-color: #DBD4D0;
}

.container {
    padding-left: 1%;
    padding-right: 15%;
    margin: 0 auto;
}

.nav_bar {
    width: 100%;
    z-index: 10;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    background-color: rgb(99, 99, 99);
    position: fixed;
    display: flex;
}

.logo {
    font-weight: bold;
    font-size: 14pt;
    color: white;
    padding-left: 5vw;
}

.img1 {
    width: 82%;
    margin-left: 14vw;
    margin-top: 20vh;
}

.article {
    margin-top: 10vh;
    margin-left: 14.5vw;
    text-align: justify;
}

.b_title {
    font-weight: bold;
    padding-left: 3.25vw;
    font-size: 16pt;
}

p {
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 7%;
    padding-right: 12%;
    letter-spacing: 0.3pt;
}

.b_hr {
    width: 68vw;
    margin-top: 12vh;
    margin-left: 14vw;
}

.img_text {
    margin-left: 72vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.img_text2 {
    margin-left: 75vw;
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.img2 {
    width: 27%;
    margin-left: 14vw;
    margin-top: 5vh;
}

.img3 {
    width: 27%;
    margin-left: 14vw;
    margin-top: 2vh;
}

.img4 {
    width: 40%;
    height: 50%;
    margin-left: -75vw;
    margin-top: 5vh;
}

.group1 {
    display: flex;
    flex-direction: column;
}

.group2 {
    display: flex;
}

.img5 {
    width: 93%;
    margin-left: 0.5vw;
    margin-top: 5vh;
}

.img6 {
    width: 93%;
    margin-left: 0.5vw;
    margin-top: 2vh;
}

.img7 {
    width: 40%;
    height: 50%;
    margin-left: 14vw;
    margin-top: 5vh;
}

.img9 {
    width: 40%;
    margin-left: 14vw;
    margin-top: 5vh;
}

.img10 {
    width: 40%;
    margin-top: -47vh;
    margin-left: 49vw;
}

.img11 {
    width: 82%;
    margin-left: 14vw;
    margin-top: 7vh;
}

.footer {
    width: 100%;
    height: 10vh;
    text-align: center;
    background-color: rgb(99, 99, 99);
    padding-top: 50px;
}

.f_content {
    width: 35%;
    margin: 0 auto;
    color: white;
    font-size: 4pt;
    border: white solid 1px;
}

@media(max-width:765px) {
    .logo {
        margin: 0 auto;
    }
    .container {
        padding-left: 5%;
        padding-right: 1%;
        margin: 0 auto;
    }
    .img1 {
        margin-left: -2vw;
        margin-top: 10vh;
        width: 100%;
    }
    .article {
        margin-left: 5vw;
        margin-top: 5vh;
    }
    .b_title {
        font-size: 18pt;
        margin-left: 5vw;
    }
    p {
        font-size: 14pt;
        margin-left: -4vw;
    }
    .img2 {
        margin-left: -2vw;
        margin-top: 2vh;
        width: 90vw;
    }
    .img3 {
        margin-left: -2vw;
        margin-top: 2vh;
        width: 90vw;
    }
    .img_text {
        margin-top: 1vh;
        margin-left: 52vw;
    }
    .b_hr {
        width: 75vw;
        margin-top: 10vh;
        margin-left: 5vw;
    }
    .group2 {
        display: column;
    }
    .img4 {
        width: 90vw;
        height: 55vh;
        margin-left: -90vw;
        margin-top: 58vh;
    }
    .img5 {
        width: 90vw;
        margin-left: -90vw;
        margin-top: 62vh;
    }
    .img_article {
        margin-top: 10vh;
        margin-left: -5vw;
    }
    .img6 {
        margin-left: -90vw;
        margin-top: 2vh;
        width: 90vw;
    }
    .article2 {
        margin-left: -6vw;
        margin-top: 5vh;
    }
    .b_title {
        margin-left: -2vw;
    }
    .img7 {
        width: 90vw;
        height: 55vh;
        margin-top: 5vh;
        margin-left: -2vw;
    }
    .img_text2 {
        margin-top: 1vh;
        padding-left: 17vw;
    }
    .img_text2 {
        margin-top: 1vh;
        margin-left: 42vw;
    }
    .img9 {
        margin-left: -1vw;
        width: 90vw;
    }
    .img10 {
        margin-top: 2vh;
        width: 90vw;
        margin-left: -1vw;
    }
    .img11 {
        margin-left: -2vw;
        margin-top: 2vh;
        width: 90vw;
    }
}