* {
    margin: 0;
    transition: 0.5s;
    font-family: "微軟正黑體";
}

body {
    background-color: #DBD4D0;
}

.container {
    padding-left: 1%;
    padding-right: 15%;
    margin: 0 auto;
}

.nav_bar {
    width: 100%;
    z-index: 10;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    background-color: rgb(99, 99, 99);
    position: fixed;
    display: flex;
}

.logo {
    font-weight: bold;
    font-size: 14pt;
    color: white;
    padding-left: 5vw;
}

.img1 {
    width: 82%;
    margin-left: 14vw;
    margin-top: 20vh;
}

.b_hr {
    width: 68vw;
    margin-top: 12vh;
    margin-left: 14vw;
}

.article {
    margin-top: 10vh;
    margin-left: 14.5vw;
    text-align: justify;
}

.b_title {
    font-weight: bold;
    padding-left: 3.25vw;
    font-size: 16pt;
}

p {
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 7%;
    padding-right: 12%;
    letter-spacing: 0.3pt;
}

.img_text {
    margin-left: 68vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.img_text2 {
    margin-left: 75vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.img2 {
    width: 40%;
    margin-left: 14vw;
    margin-top: 10vh;
}

.img_article {
    margin-left: 48vw;
    margin-top: -18vh;
    text-align: justify;
}

.footer {
    width: 100%;
    height: 10vh;
    text-align: center;
    background-color: rgb(99, 99, 99);
    padding-top: 50px;
}

.f_content {
    width: 35%;
    margin: 0 auto;
    color: white;
    font-size: 4pt;
    border: white solid 1px;
}

@media(max-width:765px) {
    .container {
        padding-left: 5%;
        padding-right: 1%;
        margin: 0 auto;
    }
    .img1 {
        margin-left: -2vw;
        margin-top: 10vh;
        width: 100%;
    }
    .article {
        margin-left: 3vw;
        margin-top: 5vh;
    }
    .b_title {
        font-size: 18pt;
        margin-left: 5vw;
    }
    p {
        font-size: 14pt;
        margin-left: -4vw;
    }
    .img2 {
        margin-left: -1vw;
        margin-top: 10vh;
        width: 90vw;
        height: 50vh;
    }
    .img_text {
        margin-left: 36vw;
        margin-top: 1vh;
    }
    .img_text2 {
        margin-left: 65vw;
        margin-top: 1vh;
    }
    .img_article {
        margin-top: 7vh;
        margin-left: -7vw;
        padding-right: 10vw;
        padding-left: 5vw;
    }
}